<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>Powered by
        <i class="material-icons copyright-icon">flash_on</i>
        <a class="copyright-link" href="http://onebitcode.com/bootcamp-one-bit-code/"> OneBitCode</a>
      </b>
    </div>
  </div>
</div>